{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "tsx": true
    },
    "env": {
      "browser": true,
      "node": true,
      "es6": true
    },
    "extends": ["eslint:recommend", "plugin:react/recommend"],
    "plugin": ["import", "react-hooks"],
    "rules": {}
  }
}
